{{!--
  These are provided as inline helpers for quickly generating navigation links in your header.
  You are not required to use this helper; if you wish to write the links directly,
  then copy the markup within the inline helper and paste it where you see fit.
  Make sure to handle the "active" state for any link you insert manually.
--}}
{{#*inline "navItem"}}
  <li class="nav-item{{#eq request.path href}} active{{/eq}}">
    <a class="nav-link" href="{{href}}">{{label}}{{#eq request.path href}} <span class="sr-only">(current)</span>{{/eq}}</a>
  </li>
{{/inline}}
{{#*inline "dropdownItem"}}
    <a class="dropdown-item{{#eq request.path href}} active{{/eq}}" href="{{href}}">{{label}}</a>
{{/inline}}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>{{ experience.page.name }} | My Experience</title>
    <meta name="description" content="{{section 'metaDescription'}}">
    <link rel="icon" type="image/x-icon" href="https://~exportplaceholderid-app-url~/images/kanarra/favicon.ico" />
  </head>
  <body>
    <!-- <nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/" style="padding-top:0; padding-bottom:0;">
        <img alt="My Experience" style="height: 24px;" src="https://~exportplaceholderid-app-url~/images/kanarra/kanarra_sm.png">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {{!--
            Add your links here. These will display left to right alongside your logo.
            Each must include a label (the text to display) and an href (the URL to take the user to).
            By default, if the current URL path matches the href provided to the navItem,
            the item will receive an "active" (selected) class.
          --}}
          {{> navItem label="Home" href="/"}}
          {{> navItem label="Another Link" href="/another-link"}}
          {{> navItem label="One More" href="/one-more"}}
        </ul>

        {{!--
          Links in this section are right-aligned within the navigation bar.
        --}}
        <ul class="navbar-nav">

          {{#if experience.user}}

            {{!--
              This dropdown will only display if visitor IS signed in.
            --}}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{#if experience.user.firstName}}{{experience.user.firstName}}{{else}}{{experience.user.email}}{{/if}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                {{> dropdownItem label="Sign Out" href="/logout"}}
              </div>
            </li>

          {{else}}

            {{!--
              This "Sign In" link will only display if visitor IS NOT signed in already.
            --}}
            {{> navItem label="Sign In" href="/login"}}

          {{/if}}

        </ul>
      </div>
    </nav> -->
    {{ page }}
    <hr>
    <footer>
      <p style="text-align:center">&copy; {{currentDateTime 'YYYY'}}. All rights reserved.</p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    {{! Any tracking code you wish to include should be entered down here, just above the closing body tag. }}

  </body>
</html>