{{#*inline "navItem"}}
<li class="nav-item{{#eq request.path href}} active{{/eq}}">
    <a class="nav-link" href="{{href}}">{{label}}{{#eq request.path href}} <span
            class="sr-only">(current)</span>{{/eq}}</a>
</li>
{{/inline}}
{{#*inline "dropdownItem"}}
<a class="dropdown-item{{#eq request.path href}} active{{/eq}}" href="{{href}}">{{label}}</a>
{{/inline}}
<!doctype html>
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>{{ experience.page.name }}</title>
    <meta name="description" content="{{section 'metaDescription'}}">
    <link rel="icon" type="image/x-icon"
        href="https://files.wnology.io/~exportplaceholderid-application-applicationModuloExperienceUsersAndGroups-0~/application/weg-pequeno.png" />
</head>

<body>
    <nav class="sticky-top navbar navbar-expand-lg navbar-light bg-light" id="header">
        <a class="navbar-brand" href="/" style="padding-bottom:0.5%; color: #00579d;"> TEMPLATE - M칩dulo Experience & Usu치rios </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {{#if experience.user}}
                    {{> navItem label="Home" href="/"}}
                    <span class="adm">
                        {{> navItem label="Usu치rios" href="/delete-account"}}
                    </span>
                    <span class="adm">
                        {{> navItem label="Novo Usu치rio" href="/create-account"}}
                    </span>
                {{/if}}
            </ul>
            <ul class="navbar-nav">
                {{#if experience.user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{#if
                        experience.user.firstName}}{{experience.user.firstName}}{{else}}{{experience.user.email}}{{/if}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        {{> dropdownItem label="Sair" href="/logout"}}
                    </div>
                </li>
                {{else}}
                {{> navItem label="Entrar" href="/login"}}
                {{/if}}
            </ul>
        </div>
    </nav>
    <!-- Page -->
    {{ page }}
    <footer id="footer">
        <p>&copy; {{currentDateTime 'YYYY'}}. All rights reserved.</p>
    </footer>
    <!-- Optional JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/18832647f4.js" crossorigin="anonymous"></script>
</body>
<style>
    #header {
        border-bottom: 1px solid #e5e5e5e5;
    }

    #footer {
        border-top: 1px solid #e5e5e5e5;
        text-align: center;
        width: 100%;
    }
</style>
{{component 'js-permission'}}
<script>
    if (!isAdm) {
        $('.adm').css('pointer-events', 'none');
        $('.adm').css('opacity', '0.5');
    }
</script>
</html>